const { BaseMiddleware } = require("emvicify/middlewares");

class {{ className }}Middleware extends BaseMiddleware {
    constructor({ services }) {
        super({ services });
    }
    
    generate() {
        return function (req, res, next) {
            next();
        };
    }
}

module.exports = {{ className }}Middleware;