const { BaseService } = require("emvicify/services");

class {{ className }}Service extends BaseService {
    constructor({ services, settings }) {
        super({ services, settings });
    }
}

module.exports = {{ className }}Service;
