const { ExpressRouter } = require("emvicify/routers");

class {{ className }}Router extends ExpressRouter {
    constructor({ settings, controllers, middlewares, routerSettings }) {
        super({ settings, controllers, middlewares, routerSettings });
    }

    registerActions() {
        this.get("{{ className | decapitalize }}/action", (req, res) => this.controllers.{{ className | decapitalize }}.action({ req, res }));
    }
}

module.exports = {{ className }}Router;
